!!! 5
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Avada – About Us
		meta(name='description', content='We provide a large array of generic WordPress templates.')
		meta(name='viewport', content='width=device-width, initial-scale=1')
	body
		//
			 Start Header
		header
			a(href='#')
				h1 Avada
			nav(role='navigation')
				a(href='#') Home
				a(href='#') Sliders
				a(href='#') Headers
				a(href='#') Pages
				a(href='#') Portfolio
				a(href='#') Blog
				a(href='#') Shop
				a(href='#') Features
				a(href='#') Shortcodes
				a(href='#') Cart
				form
					input(name='search', placeholder='Search')
          input(type='submit', value='Search')
    //
       End Header
    //
       Main Content
    section
    	header
    		h2 About Us
    		a(href='#') Home
    		span /
    		a(href='#') About Us
    	section
    		h2 Welcome to Avada
    		p
    			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa adipisci a eius quasi omnis repellat sit. Dignissimos, quibusdam repellendus ipsa eligendi obcaecati repellat sed? Maiores, consectetur, eligendi, esse, iste doloremque repellendus corporis libero molestias nesciunt quidem explicabo quia sint ut quo minima aliquam fugiat unde rem. Soluta molestiae veniam dignissimos!
    	section
    		h2 Who is Avada
        h3 Our Company Misson
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, mollitia, perferendis inventore ratione tempore amet dolorum id fuga numquam excepturi.
        h3 The Avada Philosophy
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, voluptatum a unde soluta tempore at consectetur deleniti libero porro temporibus.
        h3 The Avada Promise
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, quis soluta assumenda voluptas suscipit non qui iste perspiciatis consectetur porro.
        h3 We Can Deliver On Projects
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, voluptate, neque laborum perferendis illum impedit nisi natus corporis? Deserunt, voluptates
      section
        h2 Our Crazy Skills
        ul
          li
            | Web Design
            span 90
          li
            | HTML/CSS
            span 95
          li
            | Graphic Design
            span 85
          li
            | Wordpress
            span 75
      section
        //
           End Main Content
        //
           Team Bios
        h2 Meet Our Team
      div
        figure
          img(src='img/foo.jpg', alt='foo')
          figcaption
            span John Doe
            span Developer
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, quo, aspernatur optio atque recusandae dolorem nihil dolor laboriosam ex quasi.
        footer
          a(href='#', title='Dribble')
            img(src='img/foo.jpg', alt='Dribble')
          a(href='#', title='LinkedIn')
            img(src='img/foo.jpg', alt='LinkedIn')
          a(href='#', title='Twitter')
            img(src='img/foo.jpg', alt='Twitter')
          a(href='#', title='Facebook')
            img(src='img/foo.jpg', alt='Facebook')
      div
        figure
          img(src='img/foo.jpg', alt='foo')
          figcaption
            span John Doe
            span Developer
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, quo, aspernatur optio atque recusandae dolorem nihil dolor laboriosam ex quasi.
        footer
          a(href='#', title='Dribble')
            img(src='img/foo.jpg', alt='Dribble')
          a(href='#', title='LinkedIn')
            img(src='img/foo.jpg', alt='LinkedIn')
          a(href='#', title='Twitter')
            img(src='img/foo.jpg', alt='Twitter')
          a(href='#', title='Facebook')
            img(src='img/foo.jpg', alt='Facebook')
      div
        figure
          img(src='img/foo.jpg', alt='foo')
          figcaption
            span John Doe
            span Developer
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, quo, aspernatur optio atque recusandae dolorem nihil dolor laboriosam ex quasi.
        footer
          a(href='#', title='Dribble')
            img(src='img/foo.jpg', alt='Dribble')
          a(href='#', title='LinkedIn')
            img(src='img/foo.jpg', alt='LinkedIn')
          a(href='#', title='Twitter')
            img(src='img/foo.jpg', alt='Twitter')
          a(href='#', title='Facebook')
            img(src='img/foo.jpg', alt='Facebook')
      //
         End Team Bios
      //
         Start Clients
      section
        h2 Our Happy Clients
        ul
          li
            a(href='#')
              img(src='img/foo.jpg', alt='foo')
          li
            a(href='#')
              img(src='img/foo.jpg', alt='foo')
          li
            a(href='#')
              img(src='img/foo.jpg', alt='foo')
          li
            a(href='#')
              img(src='img/foo.jpg', alt='foo')
          li
            a(href='#')
              img(src='img/foo.jpg', alt='foo')
    //
       End Clients
    //
       End Main page content
    //
       Start ASIDE
    aside
      p Avada
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, velit.
      h2 Recent Posts
      ol
        li
          article
            h3
              a(href='#', rel='bookmark') Blog Slideshow Post
        li
          article
            h3
              a(href='#', rel='bookmark') Aenean Odio Mauris
        li
          article
            h3
              a(href='#', rel='bookmark') Blog Image Post
        li
          article
            h3
              a(href='#', rel='bookmark') Blog Video Post
        li
          article
            h3
              a(href='#', rel='bookmark') Donec Suscipit Dim Euismods
    aside
      h2 Twitter Feed
      blockquote(cite='http://twitter.example.net/t31351234')
        | Can you please email us to discuss?
      blockquote(cite='http://twitter.example.net/t31219752')
        | Avada mega menu released...
    aside
      h2 Recent Works
      ol
        li
          a(href='#', title='foo')
            img(src='img/foo.jpg', alt='foo')
        li
          a(href='#', title='foo')
            img(src='img/foo.jpg', alt='foo')
        li
          a(href='#', title='foo')
            img(src='img/foo.jpg', alt='foo')
        li
          a(href='#', title='foo')
            img(src='img/foo.jpg', alt='foo')
        li
          a(href='#', title='foo')
            img(src='img/foo.jpg', alt='foo')
        li
          a(href='#', title='foo')
            img(src='img/foo.jpg', alt='foo')
    //
       End Aside
    //
       Add a form
    section
      form#contact-form(action='/', method='post')
        fieldset
          h3 Get in touch
          p Fill this out.
          div
            label
              span Name:
              input(placeholder='Enter your name', type='text', tabindex='1', required='required', autofocus='autofocus')
          div
            label
              span Email:
              input(placeholder='Enter your email address', type='email', tabindex='2', required='required')
          div
            label
              span Telephone:
              input(placeholder='Enter your number', type='tel', tabindex='3', required='required')
          div
            label
              span Message:
              textarea(placeholder='What\'s wrong?', tabindex='5', required='required')
          div
            button#contact-submit(name='submit', type='submit') Send
    //
       End Form
    footer
      p Copyright 2012 - 2014
      address Avada Theme by Theme Fusion
      span |
      p
        | All Rights Reserved
        span |
        | Powered by
        a(href='#', title='Wordpress', rel='external')  WordPress
      div
        a(href='#', title='Facebook')
          | Facebook
        a(href='#', title='Twitter')
          | Twitter
        a(href='#', title='LinkedIn')
          | LinkedIn
        a(href='#', title='RSS')
          | RSS
        a(href='#', title='Dribble')
          | Dribble
        a(href='#', title='Pinterest')
          | Pinterest
        a(href='#', title='Vimeo')
          | Vimeo
